<!DOCTYPE html>
<head>
    <!------------------------- Metadata ------------------------->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Cloud Send Messaging Application">
  <meta name="author" content="Samantha Liu">
  <meta name="keywords" content="HTML, CSS">

    <!------------------------- Title ------------------------->
  <title>Cloud Send</title>

   <!------------------------- Stylesheets ------------------------->
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
   <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='css/bootstrap.min.css') }}">   
</head>
<html>
    <body>
        <h1>Hi, {{ name }}</h1>
    </body>
</html>