/* Home */

#jumbotron {
  margin: 80px 70px;
  width: 500px;
  display: inline-block;
  background-color: white;
  position: relative;
  top: 100px;
}

.app-description {
  width: 300px;
  font-size: 18px;
  letter-spacing: 0.4px;
  margin-bottom: 50px;
  line-height: 23px;
}

.logo {
  font-size: 45px;
  color: #535353;
  letter-spacing: 1px;
}

.home-img {
  width: 500px;
  height: 430px;
  position: relative;
  top: 200px;
  margin-left: 200px;
}

#home-auth {
  position: relative;
  left: -140px;
}

.home-divider {
  position: relative;
  height: 0px;
  width: 240px;

  border: 1px solid #535353;
  margin: 30px 0;
}